* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
  top: 0px;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

section {
  text-align: center;
  margin: auto;
  width: 100%;
}

nav {
  margin-top: -150px;
  text-align: left;
  transform: rotate(-5deg);
}

nav li {
  display: inline;
  margin-right: 20px;
}

.question a {
  color: #ea473b;
}

#hero {
  background-image: url(img/bcu-curzon.png);
  background-position: center;
  height: 820px;
  width: 100%;
  overflow: hidden;
  overflow-x: hidden;
}

.shard#top {
  content: ' ';
  background-color: white;
  width: 120%;
  height: 200px;
  transform: translate(-100px, -100px) rotate(-5deg);
}

.shard#bottom {
  content: ' ';
  background-color: white;
  width: 120%;
  height: 200px;
  transform: translate(-100px, 50px) rotate(3deg);
}

.container {
  margin: 170px auto 0 auto;
}

#logo img {
  width: 600px;
}

#hero p {
  font-size: 40px;
  line-height: 10px;
}

.bold {
  font-weight: bold;
}

.button {
  display: inline-block;
  font-size: 30px;
  width: 220px;
  height: 70px;
  text-transform: uppercase;
  background: white;
  transition: ease 0.5s;
  border: none;
  padding: 0;
  position: relative;
  font-weight: 400;
}

.txt {
  position: absolute;
  line-height: 70px;
  width: 220px;
  height: 70px;
}

.btn {
  position: absolute;
  content: ' ';
  width: 220px;
  height: 70px;
  border: 4px solid black;
  transform: rotate(-4deg);
}

.button:hover {
  cursor: pointer;
  margin-top: -8px;
  transition: ease 0.2s;
}

h1 {
  font-size: 38px;
  margin-bottom: 0px;
}

#faq {
  padding-bottom: 100px;
}

.questions {
  padding-top: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.question {
  width: 350px;
  margin-bottom: 30px;
  position: relative;
}

.questionContents {
  padding: 20px;
}

.questionBorder {
  border: 5px solid #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  transform: rotate(-5deg);
  z-index: -100;
}

#map {
  overflow: hidden;
  height: 800px;
  width: 100%;
}

#location {
  height: 800px;
  width: 100%;
}
